* {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #09191b;
}

.login {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: #09191b;
}

.login img {
  width: 100px;
}

.login form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.login form .loginInput {
  color: white;
  width: 300px;
  height: 40px;
  margin: 10px;
  padding-left: 10px;
  background-color: rgba(255, 255, 255, 0);
  border: none;
  outline: none;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.418);
}

.login form .login__button {
  width: 300px;
  height: 40px;
  margin: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.login form .login__button:hover {
  background-color: #db9d47;
  cursor: pointer;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: black;
  -webkit-animation: fade 1500ms ease-in-out;
          animation: fade 1500ms ease-in-out;
  /*  background-color: rgb(0, 208, 7); */
}

.main__left {
  -webkit-box-flex: 0.75;
      -ms-flex: 0.75;
          flex: 0.75;
  background-color: black;
}

.main__left .header__left {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 8vh;
  padding: 0 2vw;
}

.main__left .header__left img {
  width: 60px;
  -webkit-transition: 600ms;
  transition: 600ms;
}

.main__left .header__left img:hover {
  -webkit-transform: rotate(360deg) scale(1.3);
          transform: rotate(360deg) scale(1.3);
  cursor: pointer;
}

.main__left .header__left p {
  margin-left: 10px;
}

.main__left .header__left .lm {
  margin-left: 82%;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.main__left .header__left .lm:hover {
  cursor: pointer;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.main__left .message__board {
  position: absolute;
  height: 84.5vh;
  width: 71vw;
  bottom: 0;
  left: 0;
}

.main__left .message__board .message__boardHeader {
  position: relative;
  color: white;
  background-color: #09191b;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 8%;
  padding: 0 2vw;
}

.main__left .message__board .message__boardHeader .message__boardHeader-pic {
  width: 70px;
}

.main__left .message__board .message__boardHeader .current-chat-name {
  margin-left: 10px;
}

.main__left .message__board .message__boardHeader .online-notification {
  margin-left: 20px;
  opacity: 0.7;
}

.main__left .message__board .message__boardHeader .online-blinker {
  background-color: green;
  width: 10px;
  height: 10px;
  margin-left: 10px;
}

.main__left .message__board .message__boardBody {
  height: 84%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding-top: 40px;
}

.main__left .message__board .message__boardBody .chat__box {
  -webkit-animation: fade-in 1000ms ease-in-out;
          animation: fade-in 1000ms ease-in-out;
  background-color: #09191b;
  margin-left: 110px;
}

.main__left .message__board .message__boardBody .chat__boxHeader {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  padding-left: 7px;
}

.main__left .message__board .message__boardBody .chat__boxHeader .chat-box-time {
  margin-left: 10px;
  font-size: 12px;
  color: #db9d47;
  font-style: italic;
  opacity: 0.7;
}

.main__left .message__board .message__boardBody .chat__boxBody {
  color: #979797;
  padding-left: 7px;
  line-height: 2;
  padding-bottom: 10px;
  margin: 0px 0 20px 0;
}

.main__left .message__board .chat__input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: white;
  height: 7%;
  padding-left: 117px;
}

.main__left .message__board .chat__input input {
  color: white;
  height: 40px;
  width: 90%;
  background-color: #09191b;
  outline: none;
  border: none;
  padding: 10px;
}

.main__left .message__board .chat__input button {
  width: 10%;
  height: 40px;
  outline: none;
  border: none;
  background-color: #db9d47;
  -webkit-transition: 300ms;
  transition: 300ms;
  font-size: 15px;
  font-weight: bold;
}

.main__left .message__board .chat__input button:hover {
  color: white;
  background-color: #09191b;
  cursor: pointer;
}

.main__right {
  -webkit-box-flex: 0.25;
      -ms-flex: 0.25;
          flex: 0.25;
  background-color: #09191b;
}

.main__right .header__right {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  height: 8vh;
  padding: 0 50px;
}

.main__right .header__right .profile {
  width: 50px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.main__right .header__right .profile:hover {
  cursor: pointer;
  border-radius: 25px;
}

.main__right .header__right p {
  margin-right: 20px;
  -webkit-transition: 300ms;
  transition: 300ms;
}

.main__right .header__right p:hover {
  color: #db9d47;
  cursor: pointer;
  -webkit-transform: translateY(-5px);
          transform: translateY(-5px);
}

.main__right .header__rightSearch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 5vh;
  padding: 0 50px;
}

.main__right .header__rightSearch input {
  color: white;
  width: 100%;
  height: 70%;
  outline: none;
  background-color: black;
  border: none;
  padding-left: 10px;
}

.main__right .header__rightSearch-results {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 87vh;
  padding: 0 50px;
  overflow-y: scroll;
}

.main__right .header__rightSearch-results img {
  margin-top: 20px;
  width: 300px;
}

.message__boardBody::-webkit-scrollbar {
  width: 5px;
}

.message__boardBody::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 1px solid #979797;
}

.header__rightSearch-results::-webkit-scrollbar {
  width: 10px;
  background-color: #09191b;
}

.header__rightSearch-results::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 1px solid #979797;
}

.lightMode {
  background-color: #db9d47 !important;
  color: black !important;
  -webkit-animation: fade 600ms ease-in alternate;
          animation: fade 600ms ease-in alternate;
}

.lightModeTwo {
  background-color: #e9b46b;
  color: black !important;
  -webkit-animation: fade 600ms ease-in alternate;
          animation: fade 600ms ease-in alternate;
}

@-webkit-keyframes fade-in {
  from {
    opacity: 0;
    -webkit-transform: translateX(400px);
            transform: translateX(400px);
  }
  to {
    opacity: 1;
  }
}

@keyframes fade-in {
  from {
    opacity: 0;
    -webkit-transform: translateX(400px);
            transform: translateX(400px);
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/*# sourceMappingURL=index.css.map */