* {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
}

// colors

$background-primary: black;
$background-secondary: #09191b;
$hover-color: #db9d47;
$off-white: rgb(151, 151, 151);

// mixins

body {
  background-color: $background-secondary;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: $background-secondary;

  img {
    width: 100px;
  }
  form {
    display: flex;
    flex-direction: column;
    .loginInput {
      color: $hover-color;
      width: 300px;
      height: 40px;
      margin: 10px;
      padding-left: 10px;
      background-color: rgba(255, 255, 255, 0);
      border: none;
      outline: none;
      border-radius: 5px;
      border: 1px solid rgba(255, 255, 255, 0.418);
    }

    .login__button {
      font-weight: bold;
      width: 300px;
      height: 40px;
      margin: 10px;
      border: none;
      outline: none;
      border-radius: 5px;

      transition: 300ms;

      &:hover {
        background-color: $hover-color;
        cursor: pointer;
      }
    }
  }
}

.header {
  color: white;
  display: flex;
  align-items: center;
  padding: 0 50px;

  height: 8vh;
  background-color: rgb(0, 0, 0);

  .header__left {
    flex: 1;
    display: flex;
    align-items: center;
    img {
      width: 60px;
    }

    .fa {
      margin-left: 10px;
    }

    p {
      margin-left: 10px;
      color: rgb(158, 158, 158);
    }
  }

  .header__right {
    width: 75px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
  }
}

.main {
  width: 100vw;
  height: 92vh;
  background-color: rgb(15, 15, 15);
  padding: 0 10%;

  .currentRoom {
    color: white;
    display: flex;
    align-items: center;
    height: 10%;

    img {
      height: 80%;
    }

    p {
      margin-left: 20px;
    }
  }

  .roomChat {
    color: white;
    height: 80%;

    overflow-y: scroll;

    .message {
      background-color: $background-secondary;
      margin-top: 20px;

      .message__header {
        display: flex;
        align-items: center;
        height: 30px;

        .message__date {
          margin-left: 20px;
          color: $hover-color;
        }
      }

      .message__body {
        padding: 10px 0 20px 0;
        color: rgba(255, 255, 255, 0.76);
      }
    }
  }

  .chatInput {
    display: flex;
    align-items: center;
    height: 10%;

    form {
      display: flex;
      width: 100%;
      height: 35%;
    }

    .inputName {
      padding-left: 5px;
      color: white;
      width: 150px;
      background-color: rgba(255, 255, 255, 0.027);
      outline: none;
      border: 1px solid grey;
    }
    .inputMessage {
      padding-left: 5px;
      flex: 1;
      margin-left: 20px;
      color: white;
      background-color: rgba(245, 222, 179, 0);
      outline: none;
      border: 1px solid grey;
    }
    .inputSend {
      transition: 300ms;
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100px;
      color: white;
      background-color: rgba(245, 222, 179, 0);
      outline: none;
      border: none;
      font-weight: bold;

      &:hover {
        color: black;
        background-color: $hover-color;
        cursor: pointer;
      }
    }
  }
}

.roomChat::-webkit-scrollbar {
  width: 4px;
}

.roomChat::-webkit-scrollbar-thumb {
  background-color: $hover-color;
  border-radius: 20px;
}

// js

// keyframes

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateX(400px);
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
