* {
  margin: 0;
  font-family: 'Nunito', sans-serif;
  box-sizing: border-box;
}

// colors

$background-primary: black;
$background-secondary: #09191b;
$hover-color: #db9d47;
$off-white: rgb(151, 151, 151);

// mixins

body {
  background-color: $background-secondary;
}

.login {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: $background-secondary;

  img {
    width: 100px;
  }
  form {
    display: flex;
    flex-direction: column;
    .loginInput {
      color: white;
      width: 300px;
      height: 40px;
      margin: 10px;
      padding-left: 10px;
      background-color: rgba(255, 255, 255, 0);
      border: none;
      outline: none;
      border-radius: 5px;
      border: 1px solid rgba(255, 255, 255, 0.418);
    }

    .login__button {
      width: 300px;
      height: 40px;
      margin: 10px;
      border: none;
      outline: none;
      border-radius: 5px;

      transition: 300ms;

      &:hover {
        background-color: $hover-color;
        cursor: pointer;
      }
    }
  }
}

.main {
  display: flex;
  width: 100vw;
  height: 100vh;
  background-color: black;

  animation: fade 1500ms ease-in-out;
  /*  background-color: rgb(0, 208, 7); */
}

.main__left {
  flex: 0.75;
  background-color: $background-primary;

  .header__left {
    color: white;
    display: flex;
    align-items: center;
    height: 8vh;
    padding: 0 2vw;

    img {
      width: 60px;
      transition: 600ms;

      &:hover {
        transform: rotate(360deg) scale(1.3);
        cursor: pointer;
      }
    }

    p {
      margin-left: 10px;
    }

    .lm {
      margin-left: 82%;
      transition: 300ms;

      &:hover {
        cursor: pointer;
        transform: translateY(-5px);
      }
    }
  }

  .message__board {
    position: absolute;
    height: 84.5vh;
    width: 71vw;

    bottom: 0;
    left: 0;

    .message__boardHeader {
      position: relative;
      color: white;
      background-color: $background-secondary;
      display: flex;
      align-items: center;
      height: 8%;
      padding: 0 2vw;

      .message__boardHeader-pic {
        width: 70px;
      }

      .current-chat-name {
        margin-left: 10px;
      }

      .online-notification {
        margin-left: 20px;
        opacity: 0.7;
      }

      .online-blinker {
        background-color: green;
        width: 10px;
        height: 10px;
        margin-left: 10px;
      }
    }

    .message__boardBody {
      height: 84%;
      overflow-y: scroll;
      overflow-x: hidden;
      padding-top: 40px;

      .chat__box {
        animation: fade-in 1000ms ease-in-out;
        background-color: $background-secondary;
        margin-left: 110px;
      }

      .chat__boxHeader {
        color: white;
        display: flex;
        align-items: center;
        height: 50px;
        padding-left: 7px;

        .chat-box-time {
          margin-left: 10px;
          font-size: 12px;
          color: $hover-color;
          font-style: italic;
          opacity: 0.7;
        }
      }

      .chat__boxBody {
        color: $off-white;
        padding-left: 7px;
        line-height: 2;
        padding-bottom: 10px;
        margin: 0px 0 20px 0;
      }
    }

    .chat__input {
      display: flex;
      align-items: center;
      color: white;
      height: 7%;
      padding-left: 117px;

      input {
        color: white;
        height: 40px;
        width: 90%;
        background-color: $background-secondary;
        outline: none;
        border: none;
        padding: 10px;
      }

      button {
        width: 10%;
        height: 40px;
        outline: none;
        border: none;
        background-color: $hover-color;
        transition: 300ms;
        font-size: 15px;
        font-weight: bold;

        &:hover {
          color: white;
          background-color: $background-secondary;
          cursor: pointer;
        }
      }
    }
  }
}

.main__right {
  flex: 0.25;
  background-color: $background-secondary;

  .header__right {
    color: white;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 8vh;
    padding: 0 50px;

    .profile {
      width: 50px;
      transition: 300ms;

      &:hover {
        cursor: pointer;
        border-radius: 25px;
      }
    }

    p {
      margin-right: 20px;
      transition: 300ms;

      &:hover {
        color: $hover-color;
        cursor: pointer;
        transform: translateY(-5px);
      }
    }
  }

  .header__rightSearch {
    display: flex;
    align-items: center;
    height: 5vh;
    padding: 0 50px;

    input {
      color: white;
      width: 100%;
      height: 70%;
      outline: none;
      background-color: $background-primary;
      border: none;
      padding-left: 10px;
    }
  }

  .header__rightSearch-results {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 87vh;
    padding: 0 50px;
    overflow-y: scroll;

    img {
      margin-top: 20px;
      width: 300px;
    }
  }
}

//scrollbar styling

.message__boardBody::-webkit-scrollbar {
  width: 5px;
}

.message__boardBody::-webkit-scrollbar-thumb {
  background-color: $background-primary;
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 1px solid $off-white;
}

.header__rightSearch-results::-webkit-scrollbar {
  width: 10px;
  background-color: $background-secondary;
}

.header__rightSearch-results::-webkit-scrollbar-thumb {
  background-color: $background-primary;
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 1px solid $off-white;
}

// js

.lightMode {
  background-color: $hover-color !important;
  color: black !important;
  animation: fade 600ms ease-in alternate;
}
.lightModeTwo {
  background-color: #e9b46b;
  color: black !important;
  animation: fade 600ms ease-in alternate;
}

// keyframes

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateX(400px);
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
